<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/popup.css">
    <title>Leave Request Form</title>
    <script>
        function dateValidator(form) {
            var date = new Date();
            var todayDate = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var todayTimeStamp = todayDate.getTime()

            var stDate = form.startDate.value.split("-")
            var startDate = new Date(stDate[0], stDate[1] - 1, stDate[2]);
            var startTimeStamp = startDate.getTime()

            if (startTimeStamp < todayTimeStamp) {
                alert("Starting Date can not be earlier than today")
                form.startDate.focus();
                return false
            }

            var enDate = form.endDate.value.split("-")
            var endingDate = new Date(enDate[0], enDate[1] - 1, enDate[2]);
            var endTimeStamp = endingDate.getTime()

            if (endTimeStamp < startTimeStamp) {
                alert("End Date can not be earlier than Start date")
                form.endDate.focus();
                return false
            }

            return true;
        }

        function btnClick(id) {
            var modal = document.getElementById(id);
            modal.style.display = "block";
        }

        function spnClick(id) {
            var modal = document.getElementById(id);
            modal.style.display = "none";
        }

        // window.onclick = function(event) {
        //     var modal = document.getElementById(id);
        //     if (event.target == modal) {
        //         modal.style.display = "none";
        //     }
        // }
    </script>
    
</head>

<body>
    
    <form name="leaveForm" method="POST" onsubmit="return dateValidator(this)">

        <label>Leave From:<input type="date" name="startDate" required></label>
        <br>
        <label>Leave To:<input type="date" name="endDate" required></label>
        <br>
        <label>Reason for Leave:<textarea name="reason" required></textarea></label>
        <br>
        <input type="submit" value="Submit">

    </form>

    <%pending.forEach((e)=>{ %>
        <!-- Trigger/Open The Modal -->
        <button onclick="btnClick('<%= e._id %>')"><%= e.reason %></button>

        <!-- The Modal -->
        <div id="<%= e._id %>" class="modal">

        <!-- Modal content --> 
        <div class="modal-content">
            <span onclick="spnClick('<%= e._id %>')" class="close">&times;</span>
            <p>startTime:<%= e.startTimeDay %>/<%= e.startTimeMonth %>/<%= e.startTimeYear %></p>
            <p>endTime:<%= e.endTimeDay %>/<%= e.endTimeMonth %>/<%= e.endTimeYear %></p>
            <p>reason:<%= e.reason %></p>
            <p>status:<%= e.status %></p>
        </div>

        </div>
    <% }) %>
    
</body>

</html>